@model List<WebApplication1.Models.Palvelu>

@{
    ViewData["Title"] = "Varauskalenteri";
}
@if (ViewBag.Varaukset != null)
{
    <h3>@ViewBag.Kuukausi @ViewBag.Päivä @ViewBag.Vuosi</h3>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Nimi
                </th>
                <th>
                    Tyyppi
                </th>
                <th>
                    Ryhmä
                </th>
                <th>
                    Hinta
                </th>
                <th>
                    Pvm
                </th>
                <th>
                    Kesto
                </th>
                <th>
                    Sijainti
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                    @Html.ActionLink($"{item.Nimi}", "HaeDetails", "Palvelu", new { id = item.PalveluId })
                    </td>
                    <td>
                        @item.Tyyppi
                    </td>
                    <td>
                        @item.Ryhmä
                    </td>
                    <td>
                        @item.Hinta
                    </td>
                    <td>
                        @item.Pvm
                    </td>
                    <td>
                        @item.Kesto
                    </td>
                    <td>
                        @item.Sijainti
                    </td>
                    <td>

                        @*<a asp-action="Details" asp-route-id="@item.PalveluId">Tiedot</a> |*@

                    </td>
                </tr>
            }
        </tbody>
    </table>
}

