@{
    ViewBag.Title = "Omat palvelut";
}

@if (ViewBag.ID != null)
{
    @model IEnumerable<WebApplication1.Models.Palvelu>
    <h3>@*@ViewBag.nimi*@ Omat palvelusi</h3>
    <p>
        Olet tarjonnut <b>@ViewBag.EriTyyppienMäärä</b> eri tyyppistä palvelua ja palveluita kaiken kaikkiaan yhteensä <b>@ViewBag.PalveluidenMäärä</b> kappaletta.
    </p>
    <button class="btn btn-outline-primary">
        @Html.ActionLink("Lisää uusi palvelu", "LisääPalvelu", "Henkilö")
    </button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Nimi
                </th>
                <th>
                    Tyyppi
                </th>
                <th>
                    Ryhmä
                </th>
                <th>
                    Hinta
                </th>
                <th>
                    Pvm
                </th>
                <th>
                    Kesto
                </th>
                <th>
                    Sijainti
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.palvelut)
            {
                <tr>
                    <td>
                        @item.Nimi
                    </td>
                    <td>
                        @item.Tyyppi
                    </td>
                    <td>
                        @item.Ryhmä
                    </td>
                    <td>
                        @item.Hinta
                    </td>
                    <td>
                        @item.Pvm
                    </td>
                    <td>
                        @item.Kesto
                    </td>
                    <td>
                        @item.Sijainti
                    </td>
                    <td>
                        <button class="btn btn-outline-success">@Html.ActionLink("Muokkaa", "EditoiPalvelua", null, new { palveluid = item.PalveluId })</button>
                        <button class="btn btn-outline-info">@Html.ActionLink("Tiedot", "HaeDetails", "Palvelu", new { id = item.PalveluId })</button>
                        <a asp-action="PoistaPalvelu" asp-route-id="@item.PalveluId" class="btn btn-outline-danger">Poista</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (ViewBag.ID == null)
{
    <h5>Käyttäjää ei löydetty.</h5>
}
