@model WebApplication1.Models.Palvelu

@{
    ViewData["Title"] = "HaePalvelutFiltteri";
}

<h3>Hae palveluita</h3>
<form action="HaePalvelutFiltteri" method="post">
    <input type="text" name="hakusana" value="" />
    <input type="submit" value="Hae" class="btn btn-outline-info" />
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Nimi
            </th>
            <th>
                Tyyppi
            </th>
            <th>
                Ryhmä
            </th>
            <th>
                Hinta
            </th>
            <th>
                Pvm
            </th>
            <th>
                Kesto
            </th>
            <th>
                Sijainti
            </th>
            <th>
                Tuutori
            </th>

            <th></th>
        </tr>
    </thead>
    @if (ViewBag.palvelut != null)
    {
    <tbody>
        @foreach (var item in ViewBag.palvelut)
        {
        <tr>
            <td>
                @item.Nimi
            </td>
            <td>
                @item.Tyyppi
            </td>
            <td>
                @item.Ryhmä
            </td>
            <td>
                @item.Hinta
            </td>
            <td>
                @item.Pvm
            </td>
            <td>
                @item.Kesto
            </td>
            <td>
                @item.Sijainti
            </td>
            <td>
                Tähän nimi
            </td>
            <td>

                @*<a asp-action="Details" asp-route-id="@item.PalveluId">Tiedot</a> |*@

            </td>
        </tr>
        }
    </tbody>}
</table>

<div>
    <a asp-action="Index" class="btn btn-outline-secondary">Takaisin</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
